{% extends 'base.html' %}
{% block title %}Личная панель{% endblock %}
{% block content %}
{% if errors != '' %}
<p style="color: red">{{errors}}</p>
{% endif %}
<form method="post">
    <p>
        <label for="old_password">Old Password: </label>
        <input type="password" id="old_password" name="old_password">
    </p>
     <p>
        <label for="new_password">New Password: </label>
        <input type="password" id="new_password" name="new_password">
    </p>
    <p>
        <button>
            Update password
        </button>
    </p>
</form>
{% endblock %}